## for local development, you can set the API URL to point to localhost, but in Docker it should point to the service name defined in docker-compose
# API Gateway settings
# PORT=3000
# FRONTEND_ORIGIN =http://localhost:5173
# #USER_SERVICE_URL=http://localhost:3001
# #ORDER_SERVICE_URL=http://localhost:3002