# # 🐘 PostgreSQL
# POSTGRES_USER=admin123
# POSTGRES_PASSWORD=Admin123
# POSTGRES_DB=userdb
# POSTGRES_PORT=5433

# # 🍃 MongoDB
# MONGO_USER=mongouser
# MONGO_PASSWORD=mongopassword
# MONGO_PORT=27018

# # 👤 User Service
# USER_SERVICE_PORT=3001
# DATABASE_URL=postgres://admin123:Admin123@postgres:5432/userdb

# # 📦 Order Service
# ORDER_SERVICE_PORT=3002
# MONGO_URI=mongodb://admin123:Admin123@mongo:27017/ordersdb

# # 🌐 API Gateway
# API_GATEWAY_PORT=3000
# USER_SERVICE_URL=http://user-service:3001
# ORDER_SERVICE_URL=http://order-service:3002
# FRONTEND_ORIGIN=http://localhost:5173

# # 🖥 Frontend
# FRONTEND_PORT=5173
# VITE_API_URL=http://api-gateway:3000