### for local development, you can set the API URL to point to localhost, but in Docker it should point to the service name defined in docker-compose
# PORT=3002
# #MONGO_URI=mongodb://admin123:Admin123@localhost:27017/ordersdb
# #MONGO_URI=mongodb+srv://<username>:<userpassword>@ordersdb.dctxjv3.mongodb.net/?retryWrites=true&w=majority&appName=<dbname>
##WmfLgtSn0DtKrbE6